body {
  font-family: 'Courier New', Courier, monospace; 
  margin: 20px;
  background-color: #222; 
  color: #eee;  
}

h1 {
  text-align: center;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 3px; 
  cursor: pointer;
  background-color: #333; 
  outline: none; 
  position: relative; 
}
button:focus::after {
  content: "";
  position: absolute;
  inset: 0px; 
  border: 2px solid #007bff; 
  animation: buttonFocus 0.5s ease-in-out forwards;
}
@keyframes buttonFocus {
  from {
    transform: scale(0.9); 
    opacity: 0; 
  }
  to {
    transform: scale(1); 
    opacity: 1; 
  }
}

#startBtn {
  background-color: #007bff;
  color: white;
}

#stopBtn {
  background-color: #dc3545;
  color: white;
}
#saveBtn {
  background-color: green;
  color: white;
}
#playBtn {
  background-color: rgb(51, 23, 27);
  color: white;
}



#transcript {
  border: 1px solid #333; 
  padding: 10px;
  min-height: 100px; 
  background-color: #282828; 
}

#status {
  margin-top: 10px; 
  font-weight: bold;
  color: #0099cc; 
}
.focused {
  background-color: #e6e6e6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
} 

